.main_about {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}

.about {
  position: relative;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 3px solid gray;
  width: 100%;
  text-align: center;
}

.about_me {
  width: 60%;
  padding: 1rem;
}

.about_description {
  margin-top: 2rem;
  text-align: left;
}

.me {
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.pic_container {
  border-right: 1px solid indigo;
  width: 40%;
  display: flex;
  justify-content: center;
}

.about_content {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
}
