.carousel_container {
  background-color: #15202b;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.carousel_wrapper {
  width: 100%;
  height: 100%;
}

.back {
  width: 10%;
  padding: 1rem;
}

.next {
  width: 10%;
  padding: 1rem;
}

.carousel {
  border: 2px solid #fff;
  height: 50%;
  width: 50%;
  text-align: center;
}

.details {
  border-left: 1px solid indigo;
  height: 80%;
}

.project_details {
  padding: 1rem;
}

.stack_details {
  padding: 1rem;
}
