.carousel_container {
  background-color: #15202b;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1.5rem 0rem 1.5rem 0rem;
}

.carousel {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.project_buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;

  button {
    width: 250px;
    height: 48px;
    text-decoration: none;
    border-radius: 35px;
    font-size: 1.5rem;
  }
  .code {
    background-color: #21367f;
    color: #fff;
    border: 4px solid #2dfafc;
  }
  .view {
    color: #fff;
    background-color: #2dfafc;
  }
}

.details {
  border-left: 1px solid indigo;
  height: 80%;
}

.project_details {
  padding: 1rem;
}

.stack_details {
  padding: 1rem;
}
