.intro-content {
  background: url('../../images/luluport_SVG/denverBanner.png') center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
}

.intro_title {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  border-bottom: 3px solid gray;
}
