.intro-content {
  background: url("../../assets/denverBanner.png") center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  border-radius: 5px;
}

.intro_title {
  border-bottom: 3px solid gray;
  font-size: 8rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  li {
    font-size: 1.5rem;
    text-align: center;
  }
}
