.intro-content {
  background: url("../../assets/denverBanner.png") center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  border-radius: 5px;
}

.intro_title {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  height: 90px;
  border-bottom: 3px solid gray;
  font-size: 1.5rem;
}
