.projects-container {
  height: 650px;
  background-color: #21367f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid gray;
}

.project_details {
  border-bottom: 1px solid indigo;
  width: 100%;
}
