@import './header';
@import './nav';
@import './introContent';
@import './carousel';
@import './projects';
@import './about';
@import './footer';

* {
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.4em;
}

p {
  font-size: 1.2em;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  color: #fff;
  background-color: #15202b;
}
